
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #080a53ee;
  color: #333;
}

header {
  background-color: #080a53ee;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 100%;
  margin: 20px;
  padding: 0;
  background-color: #080a53ee;
  height:500px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.variation {
  font-size: 14px;
}

.variation.up {
  color: green;
}

.variation.down {
  color: red;
}

.variation.neutral {
  color: #555;
}

.card-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price span {
  font-size: 12px;
  color: #777;
}

.price strong {
  font-size: 20px;
}

.card-footer {
  font-size: 12px;
  color: #aaa;
  text-align: right;
}

.logo {
  max-width: 30%;
  height: auto;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
  background-color: white;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

form label {
  flex-basis: 100%;
}

form select,
form input[type="date"] {
  padding: 8px;
  width: calc(50% - 30px);
  border: 1px solid #ddd;
}

form button {
  padding: 10px 20px;
  background-color: #080a53ee;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #080a53ee;
}

#resultado-historico {
  margin-top: 20px;
}

footer {
  background-color: #181615da; 
  color: white;
  text-align: center;
  padding: 30px 0;
}
