<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/estilos.css" />
    <link rel="stylesheet" href="/static/CSS/email.css" />
    <title>Rosario Divisas</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/imagenes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/imagenes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imagenes/favicon-16x16.png">
</head>
<body>
    <header class="header">
    <div class="logo">
        <img src="/static/imagenes/logo.png" alt="Logo de la Compañia" />
    </div>
    <h1 class="nombre-empresa">Rosario Divisas</h1>
    <nav>
        <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/historico">Histórico</a></li>
        <li><a href="/web/email">Contacto</a></li>
        </ul>
    </nav>
    </header>

    {% block content %} {% endblock %}

    <footer>
        <h3>Integrantes:</h3>
        <h4>
            Delbono Caetano, Plano Facundo, Kannemann Elias.
        </h4>
        <h4>Carrera: Tecnicatura en Programación / Materia: Programación II</h4>
        </footer>
        <script src="/static/JS/app.js"></script>
    </body>
    </html>
    