{% extends "base.html" %}

{% block content %}
<div class="container-form">
<form id="formContacto" action="/web/email" method="post">
        <label  for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label  for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label  for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea><br>
        
        <div class="button-container">
            <button id="boton" type="submit">Enviar</button>
        </div>
</form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <script>
        // Mostrar alerta si hay mensajes flash
        alert("{{ messages[0] }}");
    </script>
{% endif %}
{% endwith %}

{% endblock %}