<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Histórico de Moneda</title>
    <link rel="stylesheet" href="/static/CSS/estilos.css" />
    <link rel="icon" href="/static/imagenes/logo.png" type="image/x-icon" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
          <img src="/static/imagenes/logo.png" alt="Logo de la Compañia" />
      </div>
      <h1 class="nombre-empresa">Rosario Divisas</h1>
      <nav>
          <ul class="nav-links">
          <li><a href="/">Inicio</a></li>
          <li><a href="/historico">Histórico</a></li>
          <li><a href="#">Contacto</a></li>
          </ul>
      </nav>
      </header>
    <main>
      <section id="historico" class="historico-container">
        <h2 class="historico-titulo">Seleccione la Moneda y el Rango de Fechas</h2>
        
        <form id="seleccion-historico" class="historico-form">
          <label for="moneda">Moneda:</label>
          <select id="moneda" name="moneda" class="historico-select">
            <option value="dolar_oficial">DÓLAR OFICIAL</option>
            <option value="dolar_blue">DÓLAR BLUE</option>
            <option value="dolar_bolsa">DÓLAR BOLSA</option>
            <option value="dolar_ccl">DÓLAR CCL</option>
            <option value="dolar_mayorista">DÓLAR MAYORISTA</option>
            <option value="dolar_cripto">DÓLAR CRIPTO</option>
            <option value="dolar_tarjeta">DÓLAR TARJETA</option>
          </select>
          
          <label for="fecha-inicio">Fecha de Inicio:</label>
          <input type="date" id="fecha-inicio" name="fecha-inicio" class="historico-fecha" />
          
          <label for="fecha-fin">Fecha de Fin:</label>
          <input type="date" id="fecha-fin" name="fecha-fin" class="historico-fecha" />
          
          <button type="submit" class="historico-boton">Mostrar Histórico</button>
        </form>
      
        <div id="resultado-historico" class="historico-resultado">
          <h3 class="historico-subtitulo">Gráfico de Evolución</h3>
          <div id="grafico" class="historico-grafico">
            <canvas id="historicoChart"></canvas> <!-- Elemento Canvas para el gráfico -->
          </div>
          
          <h3 class="historico-subtitulo">Tabla de Evolución</h3>
          <table class="historico-tabla">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Cotización</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </section>
      
      
    </main>
    <footer>
      <h3>Integrantes:</h3>
      <h4>
        Delbono Caetano, Plano Facundo, Kannemann Elias.
      </h4>
      <h4>Carrera: Tecnicatura en Programaciòn / Materia: Programaciòn II</h4>
    </footer>
  </body>
</html>
