{% extends "base.html" %}
{% block title %}login page {% endblock %}
{% block content %}

<div id="box">

    <div class="container-login">
        <label class="close-btn fas fa-time" for="show"></label>
        <div class="text">
            Login
        </div>
        <div class="form">
            <form action="{{ url_for('login') }}" method="POST">
                <div class="data">
                    <label for="" class="email">Email</label>
                    <input type="text" name="username" required>
                </div>
                <div class="data">
                    <label for="" class="pass">Password</label>
                    <input type="password" name="pass" required>
                </div>
                <div class="forgot-pass">
                    <a href="#">Olvidaste la contrseña?</a>
                </div>
                <div class="btn">
                    <button type="submit">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}